
<div class="container">
    <h1>{{pageTitle}}</h1>
    <h2>User Settings</h2>
    <form #form = "ngForm"(ngSubmit) = "onSubmit(form)"> <!--ngNativeValidate is needed for HTML,CSS,Properties Validation debug -->
        <div class="form-group">
            <label for="Name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" 
            required #nameField = "ngModel"
            (blur) = "onBlur(nameField)" 
            [class.field-error] = "form.submitted && nameField.invalid">

            <div class="alert alert-danger" [hidden] = "!form.submitted || nameField.valid">
                Enter a name
            </div>

            <!-- Requires ngNativeValidate for Debug -->
            <!-- CSS Classes & Properties Validations -->
            <!-- Be sure to include code within CSS files -->
            <!-- <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" required #nameField = "ngModel"> -->
            <!-- <div class="alert alert-danger" [hidden] = "nameField.valid || nameField.untouched">
                Enter a name
            </div> -->
            
            <!-- NgModel Properties Validation -->
            <!-- <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" required #propertyTest = "ngModel"> -->

            <!--CSS Classes Validation-->
            <!-- <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" required minlength="3" #classTest>  -->

            <!--HTML5 Validation-->
            <!-- <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" required pattern="B.*" minlength = "3" maxlength = "5"> -->
            <!-- <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)] = "userSettings.name" type ="number" min="3" max="300">  -->
        </div>
             <!--NgModel Properties Validation Debug: boolean-->

                <!-- <h3>Dirty: {{propertyTest.dirty}}</h3>
                <h3>Pristine: {{propertyTest.pristine}}</h3>
                <h3>Touched: {{propertyTest.touched}}</h3>
                <h3>Untouched: {{propertyTest.untouched}}</h3>
                <h3>Valid: {{propertyTest.valid}}</h3>
                <h3>Invalid: {{propertyTest.invalid}}</h3> -->

            <!--CSS Classes Validation Debug-->

            <!-- <h3>{{classTest.className}}</h3> -->

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Style:</p>
        <div class="form-group">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked [(ngModel)] = "userSettings.interfaceStyle">
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)] = "userSettings.interfaceStyle">
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)] = "userSettings.interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>

        </div>
        <p>Dropdown List Options:</p>
        <div class="form-group">
            <label for="subscriptionType">
                Subscription Type
            </label>
            <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)] ="userSettings.subscriptionType">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>

        <p>TextBox:</p>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="3" class="form-control" [(ngModel)] ="userSettings.notes"></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="password">
                Password
            </label>
            <input type="password" id="password" class="form-control">
        </div> 
        
        <div class="form-group">
            <label for="testing">
                Testing
            </label>
            <input type="date" id="testing" class="form-control">
        </div> -->
        <button class="btn btn-primary">Send</button>
    </form>
</div>
{{userSettings| json}}